<p class="background">admin</p>
<div id = "menuadmin">
    <a class="menuadmintext" href="/sort">sort</a>
    <a class="menuadmintext" href="/gender">gender</a>
    <a class="menuadmintext" href="/show">show</a>
</div>