<div id="menuadmin">
    <a class="menuadmintext" href="/sort">sort</a>
    <a class="menuadmintext" href="/gender">gender</a>
    <a class="menuadmintext" href="/show">show</a>
</div>
<div id="tabelka">
    <form action="/sortby" method="POST" onchange="this.submit()">
        <label>malejąco: </label>
        <input type="radio" name="sort" value="malejaco">
        <label>rosnąco: </label>
        <input type="radio" name="sort" value="rosnaco" checked>
    </form>
    <table>
        {{#each users }}
        <tr>
            <td class="td">id: {{id}}</td>
            <td class="td">user: {{login}} - {{password}}</td>
            <td class="td">wiek: {{wiek}}</td>
        </tr>
        {{/each}}
    </table>
</div>
<script>
    document.getElementById("body").style.backgroundColor = "yellow"
</script>